
ion-content{
    background-image: url(../../assets/imgs/bday.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
 h1{
     text-align: center;
 }
 ion-title{

     text-align: center;
    
 }
